{% extends 'base.html.twig'%}

{% block content %}
    <div class="banner_bottom" id="about">
        <div class="container">
            <h3 class="tittle_w3_agileinfo">About Our Relief</h3>
            <div class="inner_sec_info_w3layouts">
                <div class="help_full">
                    <ul class="rslides" id="slider4">
                        <li>
                            <div class="respon_info_img">
                                <img src="images/banner3.jpg" class="img-responsive" alt="Relief">
                            </div>
                            <div class="banner_bottom_left">
                                <h4>Feed For Hungry Child</h4>

                                <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
                                    convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                                    neque pharetra ac.</p>
                                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                                    pulvinar neque pharetra ac.</p>
                                <div class="ab_button">
                                    <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="respon_info_img">
                                <img src="images/banner2.jpg" class="img-responsive" alt="Relief">
                            </div>
                            <div class="banner_bottom_left">
                                <h4>Education to Every Child</h4>

                                <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
                                    convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                                    neque pharetra ac.</p>
                                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                                    pulvinar neque pharetra ac.</p>
                                <div class="ab_button">
                                    <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="respon_info_img">
                                <img src="images/banner1.jpg" class="img-responsive" alt="Relief">
                            </div>
                            <div class="banner_bottom_left">
                                <h4>Patient and Family Support</h4>
                                <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
                                    convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                                    neque pharetra ac.</p>
                                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                                    pulvinar neque pharetra ac.</p>
                                <div class="ab_button">
                                    <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="respon_info_img">
                                <img src="images/banner4.jpg" class="img-responsive" alt="Relief">
                            </div>
                            <div class="banner_bottom_left">
                                <h4>Provide Treatment</h4>
                                <p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
                                    convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar
                                    neque pharetra ac.</p>
                                <p>Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
                                    pulvinar neque pharetra ac.</p>
                                <div class="ab_button">
                                    <a class="btn btn-primary btn-lg hvr-underline-from-left" href="single.html" role="button">Read More </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="news-main">
                <div class="col-md-6 banner_bottom_left">
                    <div class="banner_bottom_pos">
                        <div class="banner_bottom_pos_grid">
                            <div class="col-xs-3 banner_bottom_grid_left">
                                <div class="banner_bottom_grid_left_grid">
                                    <div class="dodecagon b1">
                                        <div class="dodecagon-in b1">
                                            <div class="dodecagon-bg b1">
                                                <span class="fas fa-camera-retro" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9 banner_bottom_grid_right">
                                <h4>Health and Medication</h4>
                                <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                <div class="barWrapper">
									<span class="progressText">
										<b>Donators</b>
									</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
                                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="85%"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>


                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 banner_bottom_left">
                    <div class="banner_bottom_pos">
                        <div class="banner_bottom_pos_grid">
                            <div class="col-xs-3 banner_bottom_grid_left">
                                <div class="banner_bottom_grid_left_grid">
                                    <div class="dodecagon b1">
                                        <div class="dodecagon-in b1">
                                            <div class="dodecagon-bg b1">
                                                <span class="far fa-thumbs-up" aria-hidden="true"></span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-9 banner_bottom_grid_right">
                                <h4>Wildlife and Ecosystems</h4>
                                <p>Lorem Ipsum is simply text the printing and typesetting standard industry.</p>
                                <div class="barWrapper">
									<span class="progressText">
										<b>Donators</b>
									</span>
                                    <div class="progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
                                            <span class="popOver" data-toggle="tooltip" data-placement="top" title="75%"> </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="clearfix"> </div>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
{% endblock %}