<!DOCTYPE html>
<html>
{% include 'head.html.twig' %}
<body>
	{% include 'top_header.html.twig' %}
	{% block content %}{% endblock %}
	{% include 'footer.html.twig' %}
	{% include 'scripts.html.twig' %}
</body>
</html>