<div class="top_header" id="home">
	<!-- Fixed navbar -->
	<nav class="navbar navbar-default navbar-fixed-top">
		<div class="nav_top_fx_w3layouts_agileits">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false"
				    aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<div class="logo_wthree_agile">
					<h1>
						<a class="navbar-brand" href="{{  path ('test')}}">
							<i class="fas fa-heart" aria-hidden="true"></i> Relief
							<span class="desc">Give a little. Help a lot.</span>
						</a>
					</h1>
				</div>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<div class="nav_right_top">
					<ul class="nav navbar-nav">
						<li class="{% if app.request.pathinfo == '/test' %} active {% endif %}">
							<a href="{{  path ('test')}}">Home</a>
						</li>
						<li class="{% if app.request.pathinfo == '/about' %} active {% endif %}">
							<a class="scroll" href="{{  path ('about')}}">About</a>
						</li>
						<li>
							<a class="scroll" href="#gallery">Gallery</a>
						</li>
						<li>
							<a class="scroll" href="#price">Pricing</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown
								<span class="caret"></span>
							</a>
							<ul class="dropdown-menu">
								<li>
									<a class="scroll" href="#services">Services</a>
								</li>
								<li>
									<a class="scroll" href="#test">Testimonials</a>
								</li>
							</ul>
						</li>


						<li>
							<a class="scroll" href="#contact">Contact</a>
						</li>

					</ul>
				</div>
			</div>
			<!--/.nav-collapse -->
		</div>
	</nav>
	<div class="clearfix"></div>
</div>