{% extends 'base.html.twig' %}

{% block content %}
<div style="height: 3000px; width: 100%">
	<div class="col-xs-6" style="padding-top: 100px; background-color: red;height: 3000px;">Chtar {{ a }}</div>
	<div class="col-xs-6" style="padding-top: 100px;height: 3000px;">Chtar {{ b }}</div>
</div>
{% endblock %}