{% extends 'base.html.twig' %}

{% block content %}
<!-- banner -->
	<div class="banner_top">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
			<!-- Indicators -->
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1" class=""></li>
				<li data-target="#myCarousel" data-slide-to="2" class=""></li>
				<li data-target="#myCarousel" data-slide-to="3" class=""></li>
			</ol>
			<div class="carousel-inner" role="listbox">
				<div class="item active">
					<div class="container">
						<div class="carousel-caption">
							<h3>Change Begins With You.</h3>

							<div class="bnr-button">
								<a class="act" href="single.html">Read More</a>
							</div>

						</div>
					</div>
				</div>
				<div class="item item2">
					<div class="container">
						<div class="carousel-caption">
							<h3>Make good things happen</h3>

							<div class="bnr-button">
								<a class="act" href="single.html">Read More</a>
							</div>
						</div>
					</div>
				</div>
				<div class="item item3">
					<div class="container">
						<div class="carousel-caption">
							<h3>Change Begins With You.</h3>

							<div class="bnr-button">
								<a class="act" href="single.html">Read More</a>
							</div>

						</div>
					</div>
				</div>
				<div class="item item4">
					<div class="container">
						<div class="carousel-caption">

							<h3>Make good things happen</h3>

							<div class="bnr-button">
								<a class="act" href="single.html">Read More</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
				<span class="fa fa-chevron-left" aria-hidden="true"></span>
				<span class="sr-only">Previous</span>
			</a>
			<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
				<span class="fa fa-chevron-right" aria-hidden="true"></span>
				<span class="sr-only">Next</span>
			</a>
			<!-- The Modal -->
		</div>
	</div>
	<!--//banner -->
	<div class="banner_bottom donate-log">
		<div class="donate-inner">

			<div class="col-md-4 donate-f-login">
				<div class="donate-log-in book-form">
					<h5>Login Now</h5>
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Name" required="" />
						<input type="email" name="Email" class="email" placeholder="Email" required="" />
						<input type="password" name="Password" class="password" placeholder="Password" required="" />
						<div class="check-box two">
							<input name="chekbox" type="checkbox" id="brand1" value="">
							<label for="brand1">
								<span></span>Remember Me.</label>
						</div>
						<input type="submit" value="Submit">
					</form>
				</div>
			</div>
			<div class="col-md-8 donate-info">
				<h4>Leave us a Message</h4>
				<p>Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Pellentesque
					convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget pulvinar neque
					pharetra ac.</p>
			</div>
			<div class="clearfix"></div>
		</div>
	</div>
	<!--/ab-->

	<!--//ab-->
	<!--/what-->
	<div class="works" id="services">
		<div class="container">
			<h3 class="tittle_w3_agileinfo cen">Why Choose Us</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="ser-first">
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-edit" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>Food Delivering</h3>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-paper-plane" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>Volunteer</h3>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-star" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>Donation</h3>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="col-md-3 ser-first-grid text-center">
						<div class="dodecagon">
							<div class="dodecagon-in">
								<div class="dodecagon-bg">
									<span class="far fa-user" aria-hidden="true"></span>
								</div>
							</div>
						</div>
						<h3>Scholarship</h3>
						<p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<!--//what-->
	<!--/team-->
	<div class="banner_bottom" id="team">
		<div class="container">
			<h3 class="tittle_w3_agileinfo">Charity Volunteers</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="ser-first">
					<div class="col-md-3 photo-grid text-center">
						<div class="dodecagon t1">
							<div class="dodecagon-in t1">
								<div class="dodecagon-bg t1">

								</div>
							</div>
						</div>
						<h3>John Doe</h3>
						<p>Volunteer</p>
						<div class="team_icons">
							<ul class="social-nav model-3d-0 footer-social social">
								<li>
									<a href="#" class="facebook">
										<div class="front">
											<i class="fab fa-facebook-f" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="twitter">
										<div class="front">
											<i class="fab fa-twitter" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<div class="front">
											<i class="fab fa-instagram" aria-hidden="true"></i>
										</div>

									</a>
								</li>
							</ul>

						</div>

					</div>
					<div class="col-md-3 photo-grid text-center">
						<div class="dodecagon t2">
							<div class="dodecagon-in t2">
								<div class="dodecagon-bg t2">

								</div>
							</div>
						</div>
						<h3>Jesse Diaz</h3>
						<p>Volunteer</p>
						<div class="team_icons">
							<ul class="social-nav model-3d-0 footer-social social">
								<li>
									<a href="#" class="facebook">
										<div class="front">
											<i class="fab fa-facebook-f" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="twitter">
										<div class="front">
											<i class="fab fa-twitter" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<div class="front">
											<i class="fab fa-instagram" aria-hidden="true"></i>
										</div>

									</a>
								</li>

							</ul>

						</div>

					</div>
					<div class="col-md-3 photo-grid text-center">
						<div class="dodecagon t3">
							<div class="dodecagon-in t3">
								<div class="dodecagon-bg t3">

								</div>
							</div>
						</div>
						<h3>Ellisa Doe</h3>
						<p>Volunteer</p>
						<div class="team_icons">
							<ul class="social-nav model-3d-0 footer-social social">
								<li>
									<a href="#" class="facebook">
										<div class="front">
											<i class="fab fa-facebook-f" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="twitter">
										<div class="front">
											<i class="fab fa-twitter" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<div class="front">
											<i class="fab fa-instagram" aria-hidden="true"></i>
										</div>

									</a>
								</li>

							</ul>

						</div>

					</div>
					<div class="col-md-3 photo-grid text-center">
						<div class="dodecagon t4">
							<div class="dodecagon-in t4">
								<div class="dodecagon-bg t4">

								</div>
							</div>
						</div>
						<h3>Joseph Hughes</h3>
						<p>Volunteer</p>
						<div class="team_icons">
							<ul class="social-nav model-3d-0 footer-social social">
								<li>
									<a href="#" class="facebook">
										<div class="front">
											<i class="fab fa-facebook-f" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="twitter">
										<div class="front">
											<i class="fab fa-twitter" aria-hidden="true"></i>
										</div>

									</a>
								</li>
								<li>
									<a href="#" class="instagram">
										<div class="front">
											<i class="fab fa-instagram" aria-hidden="true"></i>
										</div>

									</a>
								</li>

							</ul>

						</div>

					</div>
					<div class="clearfix"></div>
				</div>
			</div>

		</div>
	</div>
	<!--//team-->
	<!--/gallery-->
	<div class="banner_bottom proj" id="gallery">
		<div class="wrap_view">
			<h3 class="tittle_w3_agileinfo">Gallery</h3>
			<div class="inner_sec_info_w3layouts">
				<ul class="portfolio-categ filter">
					<li class="port-filter all active">
						<a href="#">All</a>
					</li>
					<li class="cat-item-1">
						<a href="#" title="Category 1">Charity</a>
					</li>
					<li class="cat-item-2">
						<a href="#" title="Category 2">Nature</a>
					</li>
					<li class="cat-item-3">
						<a href="#" title="Category 3">Wildlife</a>
					</li>
					<li class="cat-item-4">
						<a href="#" title="Category 4">Children</a>
					</li>
				</ul>


				<ul class="portfolio-area">

					<li class="portfolio-item2" data-id="id-0" data-type="cat-item-4">
						<div>
							<span class="image-block img-hover">
								<a class="image-zoom" href="images/g1.jpg" rel="prettyPhoto[gallery]">

									<img src="{{ asset('images/g1.jpg') }}" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-1" data-type="cat-item-2">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g2.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g2.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-2" data-type="cat-item-1">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g3.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g3.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-3" data-type="cat-item-4">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g4.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g4.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-4" data-type="cat-item-3">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g5.jpg">

									<img src="images/g5.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-5" data-type="cat-item-2">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g6.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g6.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-6" data-type="cat-item-1">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g7.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g7.jpg" class="img-responsive" alt="Relief">

								</a>
							</span>
						</div>
					</li>


					<li class="portfolio-item2" data-id="id-7" data-type="cat-item-1">
						<div>
							<span class="image-block">
								<a class="image-zoom" href="images/g8.jpg" rel="prettyPhoto[gallery]">

									<img src="images/g8.jpg" class="img-responsive" alt="Relief">


								</a>
							</span>
						</div>
					</li>

					<div class="clearfix"> </div>
				</ul>
				<!--end portfolio-area -->
			</div>
		</div>
	</div>


	<!--//gallery-->
	<div class="events-coming">
		<h3 class="tittle_w3_agileinfo cen"> Our Events Coming Soon
		</h3>
		<div class="inner_sec_info_w3layouts">
			<div class="content">
				<div class="simply-countdown-custom" id="simply-countdown-custom"></div>
			</div>
		</div>
	</div>
	<!--/last-->
	<div class="banner_bottom">
		<div class="container">
			<h3 class="tittle_w3_agileinfo"> Our Causes
			</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="last_sec">
					<div class="col-md-6 last-img-info-text">
						<h4>The causes title goes here </h4>
						<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
							pulvinar neque pharetra ac. Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
							viverra pharetra sem, eget pulvinar neque pharetra ac.
						</p>
						<div class="ab_button">
							<a class="btn btn-primary btn-lg" href="single.html" role="button">Read More </a>
						</div>
					</div>
					<div class="col-md-6 last-img-info_main">
						<div class="col-md-6 last-img-info">
							<div class="dodecagon l1">
								<div class="dodecagon-in l1">
									<div class="dodecagon-bg l1">

									</div>
								</div>
							</div>
						</div>
						<div class="col-md-6 last-img-info">
							<div class="dodecagon l2">
								<div class="dodecagon-in l2">
									<div class="dodecagon-bg l2">

									</div>
								</div>
							</div>
						</div>
						<div class="clearfix"></div>
					</div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>
	</div>
	<!--//last-->
	<!--/price-->
	<div class="price-sec" id="price">
		<div class="container">
			<h3 class="tittle_w3_agileinfo">Simple Pricing</h3>
			<div class="inner_sec_info_w3layouts">
				<div class="col-md-4 last-img-info-text">
					<h4>Become a Guardian</h4>
					<p>Pellentesque convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla viverra pharetra sem, eget
						pulvinar neque pharetra ac. Lorem Ipsum convallis diam consequat magna vulputate malesuada. Cras a ornare elit. Nulla
						viverra pharetra sem, eget pulvinar neque pharetra ac.
					</p>
					<div class="ab_button">
						<a class="btn btn-primary btn-lg scroll" href="#contact">Donate Now </a>
					</div>
				</div>
				<div class="col-md-8 price-grid-main">
					<div class="price-info">
						<div class="prices">
							<div class="prices-top">
								<div class="dodecagon s1">
									<div class="dodecagon-in s1">
										<div class="dodecagon-bg s1">
											<h3>$30</h3>
										</div>
									</div>
								</div>

							</div>
							<div class="prices-bottom">
								<div class="prices-h">
									<h4>Standard</h4>

								</div>
								<ul>
									<li>First Des</li>
									<li>Second Des</li>
									<li> Third Des</li>
									<li>Fourth Des</li>
									<li class="dash">-</li>
								</ul>
								<a href="#" data-toggle="modal" data-target="#myModal1" class="button">sign up</a>
							</div>
						</div>
					</div>
					<div class="price-info">
						<div class="prices second">
							<div class="prices-top">
								<div class="dodecagon s1">
									<div class="dodecagon-in s1">
										<div class="dodecagon-bg s1">
											<h3>$90</h3>
										</div>
									</div>
								</div>

							</div>
							<div class="prices-bottom">
								<div class="prices-h">
									<h4>Golden</h4>

								</div>
								<ul>
									<li>First Des</li>
									<li>Second Des</li>
									<li> Third Des</li>
									<li>Fourth Des</li>
									<li class="dash">-</li>
								</ul>
								<a href="#" data-toggle="modal" data-target="#myModal1" class="button">sign up</a>
							</div>
						</div>
					</div>
					<div class="price-info">
						<div class="prices">
							<div class="prices-top">
								<div class="dodecagon s1">
									<div class="dodecagon-in s1">
										<div class="dodecagon-bg s1">
											<h3>$60</h3>
										</div>
									</div>
								</div>

							</div>
							<div class="prices-bottom">
								<div class="prices-h">
									<h4>Silver</h4>

								</div>
								<ul>
									<li>First Des</li>
									<li>Second Des</li>
									<li> Third Des</li>
									<li>Fourth Des</li>
									<li class="dash">-</li>
								</ul>
								<a href="#" data-toggle="modal" data-target="#myModal1" class="button">sign up</a>
							</div>
						</div>
					</div>
					<div class="clearfix"></div>
				</div>
				<div class="clearfix"></div>
			</div>
		</div>
	</div>
	<!--//price-->
	<!-- Modal1 -->
	<div class="modal fade" id="myModal1" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header book-form">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h4>Sign up Form</h4>
					<form action="#" method="post">
						<input type="text" name="Name" placeholder="Your Name" required="" />
						<input type="email" name="Email" class="email" placeholder="Email" required="" />
						<input type="password" name="Password" class="password" placeholder="Password" required="" />
						<div class="check-box">
							<input name="chekbox" type="checkbox" id="brand" value="">
							<label for="brand">
								<span></span>Remember Me.</label>
						</div>
						<input type="submit" value="Sign Up">
					</form>
				</div>
			</div>
		</div>
	</div>
	<!-- //Modal1 -->
	<!--/testimonials-->
	<div class="tesimonials" id="test">
		<div class="container">
			<h3 class="tittle_w3_agileinfo cen">Testimonials</h3>
			<div class="inner_sec">
				<div class="test_grid_sec">
					<div class="col-md-offset-2 col-md-8">
						<div class="carousel slide two" data-ride="carousel" id="quote-carousel">
							<!-- Bottom Carousel Indicators -->
							<ol class="carousel-indicators two">
								<li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
								<li data-target="#quote-carousel" data-slide-to="1"></li>
								<li data-target="#quote-carousel" data-slide-to="2"></li>
							</ol>

							<!-- Carousel Slides / Quotes -->
							<div class="carousel-inner">

								<!-- Quote 1 -->
								<div class="item active">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img">
												<div class="dodecagon c1">
													<div class="dodecagon-in c1">
														<div class="dodecagon-bg c1">

														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-9 test_img_info">
												<p>
													<i class="fas fa-quote-left"></i> Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													Etiam auctor nec lacus ut tempor. Mauris.</p>
												<h6>Sara Lisbon</h6>
											</div>
										</div>
									</blockquote>
								</div>
								<!-- Quote 2 -->
								<div class="item">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img">
												<div class="dodecagon c2">
													<div class="dodecagon-in c2">
														<div class="dodecagon-bg c2">

														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-9 test_img_info">
												<p>
													<i class="fas fa-quote-left"></i> Lorem ipsum dolor sit amet. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													Etiam auctor nec lacus ut tempor. Mauris.</p>
												<h6>Jane Wearne</h6>
											</div>
										</div>
									</blockquote>
								</div>
								<!-- Quote 3 -->
								<div class="item">
									<blockquote>
										<div class="test_grid">
											<div class="col-sm-3 text-center test_img">
												<div class="dodecagon c3">
													<div class="dodecagon-in c3">
														<div class="dodecagon-bg c3">

														</div>
													</div>
												</div>
											</div>
											<div class="col-sm-9 test_img_info">
												<p>
													<i class="fas fa-quote-left"></i> Maecenas quis neque libero. Class aptent taciti.Lorem ipsum dolor sit amet, consectetur adipiscing elit.
													Etiam auctor nec lacus ut tempor. Mauris.</p>
												<h6>Alice Williams</h6>
											</div>
										</div>
									</blockquote>
								</div>
							</div>

						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--//testimonials-->

	<!-- /newsletter-->
	<div class="newsletter">
		<div class="col-sm-6 newsleft">
			<h3>Sign up for Newsletter !</h3>
		</div>
		<div class="col-sm-6 newsright">
			<form action="#" method="post">
				<input type="email" placeholder="Enter your email..." name="email" required="">
				<input type="submit" value="Submit">
			</form>
		</div>

		<div class="clearfix"></div>
	</div>
	<!-- //newsletter-->
{% endblock %}